<!DOCTYPE html>
<html data-ng-app="todo">
<head>
  <title>ToDo Manager</title>
  <link href="css/style.css" rel="stylesheet" />
  <link href="css/chosen.min.css" rel="stylesheet" />
  <link href="css/jquery-ui/flick/jquery-ui-1.10.4.custom.css" rel="stylesheet" />

  <script type="text/javascript" src="//use.typekit.net/car0yqo.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="js/jquery-ui-1.10.4.custom.min.js"></script>

  <script type="text/javascript" src="js/chosen.jquery.min.js"></script>
</head>
<body>
  <div id="wrap">
    <header>
      <a href="#" id="logo"></a>
      <div class="user-info" data-ng-show="user_email">
        <div class="sorting">
          <span class="text">Sort by: </span>

          <input  type="checkbox" 
                  name="date" 
                  data-ng-model="sorting.date"
                  data-ng-change="refreshItems()" /> 

          <label for="date">Date</label> 

          <input  type="checkbox" 
                  name="priority" 
                  data-ng-model="sorting.priority"
                  data-ng-change="refreshItems()" /> 

          <label for="priority">Priority</label>
        </div>
        {{ user_email }}
        | <a href="" data-ng-click="logout()">Logout</a>
      </div>
    </header>
    
    <main>
      <div data-ng-view></div>
    </main>
  </div>

  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-route.js"></script>
  
  <script type="text/javascript" src="app/app.js"></script>

  <script type="text/javascript" src="app/directives/messagesDirectives.js"></script>
  <script type="text/javascript" src="app/directives/itemDirectives.js"></script>

  <script type="text/javascript" src="app/controllers/registerController.js"></script>
  <script type="text/javascript" src="app/controllers/loginController.js"></script>
  <script type="text/javascript" src="app/controllers/userController.js"></script>

  <script type="text/javascript" src="app/services/authService.js"></script>
  <script type="text/javascript" src="app/services/itemService.js"></script>
</body>
</html>