<div id="partial-login" class="partial">
  <form id="login-form" class="partial-popup" data-ng-submit="process()">
    <h1>Login</h1>

    <messages-list></messages-list>

    <div class="form-item">
      <input type="text" name="email" placeholder="email" data-ng-model="form_data.email" />
    </div>

    <div class="form-item">
      <input type="password" name="password" placeholder="password" data-ng-model="form_data.password" />
    </div>

    <input type="submit" value="Login" /> <span class="register-lead">or <a href="#/register">Create Account</a>
  </form>
</div> 