<div id="partial-register" class="partial">
  <form id="register-form" class="partial-popup">
    <h1>Register</h1>

    <div class="form-item">
      <input type="text" name="email" placeholder="email" />
    </div>

    <div class="form-item">
      <input type="password" name="password" placeholder="password" />
    </div>

    <div class="form-item">
      <input type="password" name="password2" placeholder="password (again)" />
    </div>

    <input type="submit" value="Register" /> <span class="register-lead">or <a href="#">Back to Login</a>
  </form>

</div> 