<div id="partial-user" class="partial">
  <messages-list></messages-list>

  <article class="new">
    <div data-item-form=""></div>
  </article>

  <article class="existing" data-ng-repeat="item in items">
    <div data-item-form="" data-ng-show="item.updating"></div>

    <form data-ng-hide="item.updating">
      <input type="hidden" name="id" value="{{ item.id }}" />
      <input type="checkbox" name="completed" data-ng-model="item.completed" data-ng-click="toggleItem(item.id)" />
      <div class="title">{{ item.title }}</div>
      <div class="date">{{ item.date }}</div>
      <div class="priority">{{ item.priority }}</div>
      <div class="actions">
        <a href="" class="edit" data-ng-click="editItem(item.id)">edit</a>
        <a href="" class="delete" data-ng-click="removeItem(item.id)">delete</a>
      </div>
    </form>
  </article>
</div> 
