<div id="partial-user" class="partial">
  <article>
    <div class="item">
      <a href="" data-ng-click="logout()">Logout {{ email }}</a>
    </div>
  </article>
  <article>
    <div class="item">Item 1</div>
  </article>
  <article>
    <div class="item">Item 1</div>
  </article>
  <article>
    <div class="item">Item 1</div>
  </article>
  <article>
    <div class="item">Item 1</div>
  </article>
  <article>
    <div class="item">Item 1</div>
  </article>
  <article>
    <div class="item">Item 1</div>
  </article>
</div> 
